<HTML>
    <head></head>
    <body>
        <h1>Hello {{name}}</h1>
        <h2>This is our</h2> first HTML page
        <p>Your major is {{ major }}</p>
       
        <h3>Available majors: {{ majors }}</h3>

        <ol>
        {% for x in majors %}
        
        <li>{{x}}</li> 
        
        {% endfor %}
    </ol>

        <ul>
            <li>item 1</li>
            <li>item 2</li>
          </ul>

        <ul>
            <li>item 1</li>
        </ul>
        <ul>
            <li>item 2</li>
          </ul>


          before
          <a href="http://portal.ku.edu.kw">
              My link Text
            </a> after



    <form action="" method="get">

        <label for="username">Username:</label>
        <input type="text" name="username" id=""> <br>

        <label for="pwd">Password:</label>
        <input type="password" name="pwd" id=""><br>

        <input type="submit" value="send">
    </form>

    </body>
</HTML>
